#nextplayer{
    font-size: 30px;
    color: green;
    margin-left: 10%;
    text-align: left;
}

#gameboard{
    width: 80%;
    height: 100%;
    background-color: #a89595;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    text-align: center;
    padding: 1%;
    margin: 0;
    overflow: hidden;
    justify-items: center;
}

.cardback{
    background-image: url(cardback.jpg);
    background-size: cover;
    width: 100%;  /* カードの幅を設定 */
    height: 85px; /* カードの高さを設定 */
}