@media screen and (max-width: 767px) {
/*3Dフォント用*/
.text {
    top: 50%; 
    right: 50%;
    /*transform: translate(50%,-50%);*/
    text-transform: uppercase;
    font-family: verdana;
    font-size: 5em;
    font-weight: 700;
    padding: 25px 0;
    margin: 0;
    margin-bottom:20px;
    color:white;
    text-shadow: 1px 1px 1px #065e13,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}
#select{
    margin-top: 100px;
    margin-bottom: 0px;
}
html{
    height: 100%;
}
body{ 
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(haikei.jpg);
    background-size: cover;
}
/*スタート画面*/
.nowrap{
    display: block;
}
.button{
    color:aliceblue;
    background-color: rgba(0, 87, 49, 80%);
    text-shadow: white 4px 3px 6px;
    font-family: serif;
    padding: 4px 60px;
    border: black 4px solid;
    font-size: 2rem;
    text-align: center;
    display: block;
    margin: auto;
}
/*#title{
    text-shadow: rgb(93, 129, 250, 0.6);
    margin-top: 200px;
    text-align: center;
    color:cyan;
    font-size: 5rem;
    font-family: sans-serif;
}*/
h2{
    /*background-color:rgb(0 0 0 / 40%);*/
    text-align: center;
    color:white;
    font-family: serif;
    word-break: keep-all;
}
h1 {
    margin-bottom: 100px;
    background-color:rgb(0 0 0 / 40%);
    text-align: center;
    color:white;
    font-family: serif;
}
main{
    color:white;
    font-weight: bold;
    font-size: 20px;
    font-family: serif;
}
p#num{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Next{
    text-align: right;
}
.Next button {
    color: white;
    background-color: darkgreen;
    padding: 5px 20px;
    margin-top: 10px;
    margin-right: 20px;
}
.score{
    text-align: center;
    text-shadow: gray 2px 2px 5px;

    font-family: serif;
    font-weight: bold;
    margin: 25px auto;
    background-color: rgb(255 255 255/82%);

}
.selecttable{
    text-align: center;
    text-shadow: gray 2px 2px 5px;
    font-family: serif;
    font-weight: bold;
    margin: 25px auto;

}
th {
    padding-left: 10px;
    padding-right: 100px;
}
tr{
    line-height: 2;
}
td{
    padding-right: 10px;
}


/* ゲームプレイ画面 */
#nextplayer{
    background-color: transparent;
    width: 100%;
    font-size: 30px;
    color: green;
    margin-left: 10%;
    text-align: left;
}

#gameboard{
    width: 90%;
    height: 2200px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: repeat(7, minmax(0, 1fr));
    grid-gap: 0;
    text-align: center;
    margin: 5%;
    overflow: hidden;
    justify-items: center;
    background-position: center;
    justify-items: center;
}

.cardback{
    background-image: url(cardback.jpg);
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

.cardface{ 
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.cardface img{
    width: 100%;
    height: 100%;
}

#game{
    background-image: url(gameboard.jpg);
}

.cardfinish{
    width: 77%;
    height: 93%;
    opacity: 0;
    cursor: default;
    width: 100%;  /* カードの幅を設定 */
    height: 85px; /* カードの高さを設定 */
}

.first{
    color:white;
    text-shadow:white 2px 2px 5px;
    background-color:rgb(218 179 0 /70%);
    border-style: groove 5px black;
}
.second{
    color: white;
    text-shadow:white 2px 2px 5px;
    background-color: rgb(190 193 195/70%);
}
.third{
    color:white;
    text-shadow:white 2px 2px 5px;
    background-color: rgb(196 112 34/70%);
}
.score th{
    width: 100px;
    text-align: center;
    vertical-align: middle;
}
.score td{
    width: 300px;
    text-align: center;
    vertical-align: middle;
}
.ownpoint{
    width: 100px;
    text-align: center;
    vertical-align: middle;
}
}